Mobile Cooking Assistant.xcworkspace/xcuserdata/parshakovalexander.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/parshakovalexander.xcuserdatad/xcschemes/Pods-Mobile Cooking Assistant.xcscheme
Pods/Pods.xcodeproj/xcuserdata/parshakovalexander.xcuserdatad/xcschemes/xcschememanagement.plist
